.maptest{
  height:100%;

  .homes-nav{
    padding-top: 16px;
    padding-left: 16px;
    width:100%;
    height:64px;
    background: aliceblue;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    top:105px;
    div{
      width:118px;
      border:1px solid green;
      height:32.5px;
    }
  }

  .room-index{
    width:60%;
    border:2px solid green;
    height:2000px;

    .room-list{
      padding-top: 70px;
      padding-left: 8px;
      padding-right: 8px;

      li.room-list-item {
        display: inline-block;
        width:50%;
        padding-left: 8px;
        padding-right: 8px;
        list-style: none;
        border: 2px solid blue;
        padding-bottom: 12px;

        div.room-list-item-container{

          div.index-image-container{
            width:100%;
            padding: calc(100%/3);
            border: 2px solid red;
            position: relative;
            z-index: 5;
            div.index-image{
              position: absolute;
              z-index: 5;
              top: 0;
              left:0;
            }
          }

          div.index-info{
            .line1{
              span{
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0.2px;
                color:rgb(72,72,72);
                line-height: 18px;
                white-space: nowrap;
                word-wrap: break-word;
                -webkit-font-smoothing:antialiased;
                -webkit-tap-highlight-color:rgba(0,0,0,0);

                font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
              }

              span:first-of-type{
                margin-right: 8px;
              }
            }

            .line2{
              span{
                font-size: 15px;
                letter-spacing: 0.2px;
                color:rgb(72,72,72);
                line-height: 18px;
                text-size-adjust:100%;
                white-space: nowrap;
                word-wrap: break-word;
                -webkit-font-smoothing:antialiased;
                -webkit-tap-highlight-color:rgba(0,0,0,0);

                font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
              }
            }

            .line3{
              span{
                font-size: 15px;
                letter-spacing: 0.2px;
                color:rgb(72,72,72);
                line-height: 18px;
                text-size-adjust:100%;
                white-space: nowrap;
                word-wrap: break-word;
                -webkit-font-smoothing:antialiased;
                -webkit-tap-highlight-color:rgba(0,0,0,0);

                font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
              }
            }

          }
          border:2px solid blue;
        }

      }
    }
  }



  //
  // .map{
  //   width:40%;
  //
  //   position:fixed !important;
  //   left:60%;
  //   top:110px;
  //   height: 100%;
  // }
  .map-container{
    width:40%;

    position:fixed !important;
    z-index: 500;
    left:60%;
    top:110px;
    height: 100%;
    padding-bottom: 110px;
    .map{
      height:100%;
      width: 100%;
    }
  }


}
