.maptest{
  height:100%;

  .room-index{
    width:60%;
    border:2px solid green;
    height:2000px;
    .room-list{

    }
  }

  //
  // .map{
  //   width:40%;
  //
  //   position:fixed !important;
  //   left:60%;
  //   top:110px;
  //   height: 100%;
  // }
  .map-container{
    width:40%;

    position:fixed !important;
    left:60%;
    top:110px;
    height: 100%;
    padding-bottom: 110px;
    .map{
      height:100%;
      width: 100%;
    }
  }


}
