.maptest2{
  width:100%;
  .top-room-details{
    overflow: hidden;
    // border:5px solid green;
    width:100%;

    .top-image-container{
      width:100%;
      height:400px;

      // border:5px solid blue;
      position: relative;
      overflow: hidden;

      img{
        position: absolute;
        width:auto;
        min-height:100%;
        margin:0 auto;
        overflow-y:auto;
        overflow-x:hidden;
        left: 50%;

        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .middle-part{
      width:60%;
      margin: 0 auto;
      // border:5px solid blue;
      // height:2000px;
      display:flex;
      flex-direction: row;
      justify-content: space-between;

      .left{
        // border:5px solid pink;
        display: block;
        width:100%;
        height:100%;

        .left-top-nav{
          height:40px;
          margin-top: 25px;
          border-bottom:1px solid grey;
          div{
            width:70%;
            min-width: 500px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a{
              font-weight: normal;
              font-size: 19px;
              line-height: 24px;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              cursor: pointer;
              padding-bottom: 13px;
            }
            a:first-of-type{
              color:green;
              border-bottom: 3px solid green;
            }
          }

        }
        .basic-info{
          // height:483px;
          // background: red;
          padding-top: 20px;
          padding-left: 15px;
          padding-right: 15px;
          // padding-bottom: 20px;
          border-bottom: 1px solid grey;

          h1 {
            margin-top: 15px;
            font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
            cursor: pointer;
            margin-bottom: 6px;
            font-size: 36px;
            font-weight: 700px;
            letter-spacing: -0.6px;
            line-height: 44px;
            padding-bottom: 6px;
            word-wrap: break-word;
            color: #484848;
          }
          div.rating{
            margin-top: 15px;
            height:60px;
            // background: red;
            padding-bottom: 15px;
            border-bottom: 1px solid grey;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .review-form-stars{
              color:lightgrey;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
                margin-right: 20px;
            }
            div{
              color:grey;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              margin-right: 20px;
              text-align: center;
            }
          }
          div.icons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            padding:20px;
            border-bottom: 1px solid grey;
            div.qq{
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              margin-right: 20px;
              margin-top: 10px;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              text-align: center;
              vertical-align: middle;
              // background: red;
              width:80px;

              i.fa{
                display: relative;
                margin-left: 25px;
                text-align: center;
                align-items: center;
                margin-bottom: 15px;
                width:20px!important;
                height:20px;
                font-size: 20px;

              }
              div{
                text-align: center;
              }
            }

          }
          div.icon2{
            display: block;
            justify-content: space-around;
            text-align: left;
            padding:20px;
            height:130px;
            // border-bottom: 1px solid grey;
            h2{
              margin-top: 10px;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              margin-right: 20px;
              font-size: 22px;
              line-height: 28px;
              margin-bottom: 25px;
            }
            a{
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              color:rgb(0,132,137);
            }
          }

        }

        ul.room-detail-list{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // background-color: red;
          padding-right: 20px;

          li{
            min-height:100px;
            list-style: none;
            display: flex;
            flex-direction: row;
            .left-half{
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              width:300px;
              padding-top:20px;
            }
            .right-half{
              padding-left: 20px;
              width:100%;
              border-bottom: 1px solid grey;
              div.Amen{

                display: inline-block;
                // border:2px solid red;
                width: 50%;
                height:40px;
                vertical-align: middle;
                padding-top: 9px;
                padding-bottom: 12px;
                i{
                  height:50px;
                  margin-right: 10px;
                }
              }

              div.right-top{
                div.Amen{height:30px;}
                height:80px;
                // background: red;
                padding-bottom: 20px;
                font-size: 15px;
                font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              }
              div.right-down{
                height:70px;
                h5{

                  font-size: 15px;
                  font-weight: bold;
                  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
                }
                p{
                  font-size: 15px;
                  font-weight: normal;
                  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
                }
              }

              div.des{
                font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
                padding-top: 10px;
                height:  40px;
              }

            }


          }
        }





      }
      .right{
        right:0;
        border:5px solid pink;
        width:480px;
        height:100%;

        // .right-booking-form{
        //   width:320px;
        //   height:400px;
        //   border:5px solid red;
        //   position: absolute;
        //   top:350px;
        //   right:100px;
        // }
      }
    }
  }


  .single-room-map{
    width:60%;
    margin:0 auto;
    height:500px;
    border:5px solid yellow;
  }


  .map-container{
    width:100%;
    height: 100%;

    .map{
      height:100%;
      width: 100%;
    }
  }
}


div.main{


  div.bottom-part{
    width:60%;
    // border:2px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .reviews{
      width:80%;
      .top{
        padding-top: 60px;
        padding-left: 50px;
        height:120px;
        // background: red;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid grey;
        h3{
          font-size: 28px;
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
        }
        .review-form-stars{
          margin-left: 20px;
          margin-top: 4px;
        }
      }


      .review-body{
        padding-left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
        li{
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 15px;
          list-style: none;
          border-bottom: 1px solid grey;

          .first-line{

            display: flex;
            flex-direction: row;

            .name{
              font-size: 18px;
              font-weight: bold;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              padding-right: 15px;
            }
            .time{
              font-size: 18px;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
              padding-right: 20px;
            }
            div{
              font-size: 18px;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
            }
            .review-form-stars{
              margin-right: 10px;
            }
          }
          div.second-line{
            p{
              padding-top: 20px;
              font-size: 15px;
              font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;

            }
          }

          div.review-form{
            // border: 2px solid green;
          }
        }
      }
    }
    div.review-form{
      textarea{
        font-size: 20px;
        padding:10px;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
      }
      // border: 2px solid green;
      .top-review-message{
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
        margin-bottom: 20px;
        font-size: 20px;
      }
      padding:30px;
      div.review-form{
        border: 2px solid grey;
      }
      .review-submit-form{
        display: flex;
        flex-direction: column;
        div.last{

          margin-top: 15px;

          .review-form-stars{
        }
        .review-submit-button{
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
          background: red;
          color:white;
          font-size: 15px;
          border-radius: 3px;
          position: relative;
          left:20px;
          top:-10px;


          border:2px red solid;
        }
        .review-submit-button:hover{
          cursor: pointer;
        }
      }
      }
    }
  }
}
