.main {
  height: 100%;
  top:110px;
  display: block;
  position: relative;
  /*border: 3px red solid;*/
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
/*.main div:first-child{
  height:100%;
  width:100%;
}*/

.main .main-image {
  top:0;
  width:100%;
}
