.header {
  width: 100%;
  height: 105px;
  position: fixed;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background: white;

  top: 0px;
  left: 0px;
  display: block;
  box-sizing: border-box;

  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;

  margin: 0;
  padding: 0;
  z-index: 999;

}


.header .upper {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}
.header .upper .left .image{
  height:100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.header .upper img{
  padding: 15px;
  /*padding-bottom: 15px;*/
  width: 70px;
  display: block;

}
.header .upper .left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .upper .time{
  margin-top: 10px;
  margin-bottom: 8px;
  width: 572px;
  box-sizing: border-box;

}

.header .upper .time .header-top-input-container{
  height:100%;
  width:100%;
  border:1.25px solid rgba(219,219,219,1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.08);
}

.header .upper .time .header-top-input-container .header-top-search-container{
  /*width: calc(100%/3);*/
  box-sizing: border-box;
  border-right: 1.25px solid rgba(219,219,219,1);
  border-radius: 2px;
}
.header .upper .time .header-top-input-container div:last-of-type {
  border-right: 0;
}


.header .lower {
  height: 40px;
}

.header .lower .nav{
  padding-left: 20px;
  height: 100%;
  width: 361px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .lower .nav li{
  list-style: none;
  padding-top: 12px;

  margin-right: 16px;

}
.header .lower .nav li a{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  white-space: nowrap;
  color: rgb(72,72,72);
  border-bottom: 2px solid transparent;

  padding-bottom: 12px;
}






.header-top-right{
  height: 64px;
  display: table;
  padding-top: 14px;
  padding-bottom: 14px;
  vertical-align: middle;
  align-items: center;
}

.header-top-right a{
  display: table-cell;
  vertical-align: middle;
  width: 110px;
  text-align: center;
  font-weight: 350;
  color: black;
  font-size: 14px;
  line-height: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;

  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  right:0;

  border: 1.25px solid transparent;

}


.header-top-right a span{
  padding-bottom: 8px;
}

.header-top-right a span:hover{
  border-bottom: 1.25px solid black;
}

.header-top-search-container {
  overflow: hidden;
  flex-direction: row;
  justify-content:space-between;
  display: block;
  width:100%;
  border-bottom: 3px solid transparent;
  transition: 0.8s;
}

.header-top-search-container.focus{
  width:250%;
  border-bottom: 3px solid rgb(0,190,120);
  transition: 0.8s;
}

.header-top-search-container .head-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:12px;
  padding-top: 15px;
  padding-left: 20px;
  width: 5%;
  float: left;
}
.header-top-search-container span.this-span{
  display: block;
  overflow: hidden;
  padding-right: 10px;
}
.header-top-search-container input {
  width:543px;
  /*height:45px;*/
  padding:10px;
  padding-right: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid transparent;
  border-bottom: 0;
}

.header-top-search-container input:focus {
  outline: none;
}

.header .lower .nav li:hover{
  cursor: pointer;
}

.header .lower .nav .currentNAV{
  color: rgb(0,190,120);
  border-bottom: 2px solid rgb(0,190,120);
}


.header-top-search-container div.head-dropdown-content{
  display: none;
  flex-direction: column;
  position:absolute;
  width:316px;
  height:250px;
  z-index:10000;
  background-color: white;
  transition: 1s;

  top:58px;

  border:1.25px solid rgba(219,219,219,1);
  border-right: 1.25px solid rgba(219,219,219,1)!important;
}

.header-top-search-container.focus div.head-dropdown-content{
  display: flex;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.08);
}
.head-dropdown-content a {
    color: black;
    padding: 12px 16px;
    padding-left: 40px;
    padding-right: 200px;
    text-decoration: none;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.8px solid lightgrey;
}
.head-dropdown-content a:first-of-type {
  padding-right: 206px;
}
.head-dropdown-content a:hover {background-color:rgba(244, 244, 244, 0.5)}
.head-dropdown-content a span{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 350;
  color: black;
  font-size: 14px;
  line-height: 40px;

  text-decoration: none;

}
.header .upper .DateRangePicker__picker.DateRangePicker__picker--direction-left.DateRangePicker__picker--horizontal{
  top:50px;
}
.header .upper .DayPicker.DayPicker--horizontal{
  left:-32px;
}

.header-top-search-container.middleone:hover{
  cursor: pointer;
}
.DateInput__input:hover{
  cursor: pointer;
}
.header-top-search-container:last-of-type input:hover{
  cursor: pointer;
}
