$caret-top: 72px - 20px / 2;

.DateInput {
  // font
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: #757575;
  margin: 0;
  padding: 8px;

  background: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  vertical-align: middle;
}

.DateInput--with-caret::before,
.DateInput--with-caret::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: auto;
  border: 20px / 2 solid transparent;
  border-top: 0;
  left: 22px;
  z-index: 2;
}

.DateInput--with-caret::before {
  top: $caret-top;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.DateInput--with-caret::after {
  top: $caret-top + 1;
  border-bottom-color: #fff;
}

.DateInput--disabled {
  background: lighten(#565a5c, 45%);
}

.DateInput__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  height: 100%;
  width: 100%;

  &[readonly] {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.DateInput__display-text {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.DateInput__display-text--has-input {
  color: #484848;
}

.DateInput__display-text--focused {
  background: #99ede6;
  border-color: #99ede6;
  border-radius: 3px;
  color: #007a87;
}

.DateInput__display-text--disabled {
  font-style: italic;
}
