@import 'variables';

.SingleDatePickerInput {
  background-color: #fff;
  border: 1px solid #dbdbdb ;
}

.SingleDatePickerInput__clear-date {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;

  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 10px 0 5px;
}

.SingleDatePickerInput__clear-date svg {
  fill: lighten(#565a5c, 17.8%);
  height: 12px;
  width: 15px;
  vertical-align: middle;
}

.SingleDatePickerInput__clear-date--hide {
  visibility: hidden;
}

.SingleDatePickerInput__clear-date:focus,
.SingleDatePickerInput__clear-date--hover {
  background: #dbdbdb ;
  border-radius: 50%;
}
