<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/real-logo.png" type="image/gif" sizes="16x16">
  <title>Cloudbnc</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn86g-BNLCa_MiKWiZPYW7fvVUfCnZwDg&libraries=places"></script>
</body>
</html>
